####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db

####################################
# Visual Studio / VS Code
####################################
.vs/
.vscode/

####################################
# .NET build artifacts
####################################
**/bin/
**/obj/

####################################
# Rider / ReSharper
####################################
.idea/
_ReSharper*/
*.DotSettings.user

####################################
# ASP.NET Core secrets & settings
####################################
appsettings.json
appsettings.Development.json
appsettings.Production.json

####################################
# EF Core
####################################
server/server.Infastructure/Migrations/

####################################
# Logs
####################################
*.log

####################################
# Node / Client
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# Publish output
####################################
publish/
